@media (max-width: 475px) {
    body {
        background-color: #2A2E31;
        margin: auto;
        padding: 0px;
    }

    .wrapper {
        width: inherit;
        margin: auto;
        padding-top: 200px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .intro {
        width: 90%;
        margin: auto;
        margin-bottom: 0px;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }

    .intro span {
        font-weight: 400;
    }

    .dribbble-id {
        position: relative;
        display: flex;
        width: 150px;
        margin: auto;
        justify-content: center;
        margin-top: 20px;
    }
    
    .dribbble-id p {
        margin: 0px;
        font-family: Work Sans;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.75);
    }

    .dribbble-id img {
        width: 15px;
        margin: 0px 10px 0px 0px;
    }

    .buttons-div {
        width: 200px;
        margin: auto;
        margin-top: 50px;
    }
    
    .btn {
        font-family: "Work Sans", sans-serif;
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        text-decoration: none;
        color: #ffffffd0;
        border: 1px #ffffffd0 solid;
        border-radius: 30px;
        padding: 8px 25px;
        margin-top: 20px;
        transition: all .3s ease-in-out 0s;
    }
    
    .heading {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.045em;
        text-transform: uppercase;
        color: #2A2E31;
        text-shadow:
        -1px -1px 0 rgba(255, 255, 255, 0.5),
        1px -1px 0 rgba(255, 255, 255, 0.5),
        -1px 1px 0 rgba(255, 255, 255, 0.5),
        1px 1px 0 rgba(255, 255, 255, 0.5);
        margin: 0px;
    }

    .about-me {
        margin-top: 130px;
    }

    .about-container {
        margin-top: 50px;
        flex-direction: column;
       
    }
    .image-container {
        margin-left: 0px;
        width: 100%;
    }

    .image img{
        text-align: left;
        width: 100%;
    }

    .address {
        font-size: 15px;
        line-height: 18px;
        text-align: left;
    }

    .text-container {
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
    }

    .text-container p {
        font-family: "Work Sans", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.75);
        margin: 0px 0px 15px 0px;
        text-align: left;
    }

    .work-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-text {
        width: 100%;
        padding: 0px;
        margin-top: 50px;
    }

    .work-text a {
        font-size: 20px;
    }

    .work-text p {
        width: 100%;
    }

    .work-image {
        width: 100%;
    }

    .work-image img {
        width: 100%;
        text-align: center;
    }

    #shakad {
        width: 100%;
    }

    .contact-me {
        margin-top: 130px;
        width: 100%;
    }

    .form-div {
        margin: auto;
        margin-top: 60px;
        width: 100%;
    }

    footer {
        margin-top: 100px;
        padding-bottom: 50px;
    }
}

@media (min-width: 476px) and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .about-me, .contact-me, .section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .intro {
        width: 90%;
    }

    .image-container {
        width: 50%;
        margin-left: 0px;
        margin-right: 20px;
        text-align: left;
    }

    .text-container {
        width: 50%;
        margin-left: 20px;
    }

    .work-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-text {
        width: 70%;
        padding: 0px;
        margin-top: 50px;
    }

    .work-text a {
        font-size: 20px;
    }

    .work-text p {
        width: 100%;
    }

    .work-image {
        width: 60%;
    }

    .work-image img {
        width: 100%;
        text-align: center;
    }

    #shakad {
        width: 100%;
    }

    .form-div {
        width: 100%;
    }
}

@media (min-width: 476px) and (max-width: 660px) {
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .work-image {
        width: 80%;
    }

    .work-text {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .image-container {
        margin-left: 0px;
    }

    .work-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-text {
        width: 60%;
        padding: 0px;
        margin-top: 50px;
    }

    .work-text a {
        font-size: 20px;
    }

    .work-text p {
        width: 100%;
    }

    .work-image {
        width: 60%;
    }

    .work-image img {
        width: 100%;
        text-align: center;
    }

    #shakad {
        width: 100%;
    }
}