body, html {
    background-color: #2A2E31;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    margin: auto;
    padding-top: 300px;
    padding-bottom: 0px;
}

.section {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.intro {
    width: 475px;
    margin: auto;
    margin-bottom: 0px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.intro span {
    font-weight: 400;
}

.slack-id {
    position: relative;
    display: flex;
    width: 150px;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
}

.slack-id p {
    margin: 0px;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.75);
}

.slack-id img {
    width: 17px;
    margin: 0px 10px 0px 0px;
}

.buttons-div {
    width: 200px;
    margin: auto;
    margin-top: 50px;
}

.btn {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffffd0;
    background-color: #2A2E31;
    border: 1px #ffffffd0 solid;
    border-radius: 40px;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .3s ease-in-out 0s;
}

.btn:hover {
    box-shadow: 0px 4px 36px 15px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.btn:focus {
    outline: none;
}

.heading {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #2A2E31;
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(255, 255, 255, 0.5);
    margin: 0px;
}

.about-me {
    margin-top: 120px;
}

.about-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.image-container {
    margin-left: 100px;
}

.image {
    text-align: left;
}

.image img {
    filter: grayscale(100%);
    transition: all .3s ease-in-out 0s;
}

.image img:hover {
    filter: none;
}

@media (any-hover: none) {
    .image img {
        filter: none;
    }
}

.detail {
    position: relative;
    display: flex;
    margin-top: 10px;
}

.detail img {
    height: 20px;
    margin: 0px 10px 0px 0px;
}

.link {
    margin: 0px;
    position: relative;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #83BBE6;
    text-decoration: none;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:rgb(124, 153, 175);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
}

.link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.detail p {
    text-align: left;
    margin: 0px;
    font-family: Work Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.75);
}

.text-container {
    width: 440px;
    margin-left: 100px;
}

.text-container p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.75);
    margin: 0px 0px 15px 0px;
    text-align: left;
}

.contact-me {
    margin-top: 120px;
}

.form-div {
    width: 600px;
    margin: auto;
    margin-top: 60px;
}

input {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: #393D40;
    border: 1px solid #2A2E31;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: #393D40;
    border: 1px solid #2A2E31;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    resize: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

textarea::placeholder {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

textarea:focus {
    outline: none;
}

footer {
    width: 100%;
    bottom: 0;
    background-color: #202426;
    text-align: center;
    padding: 20px 0px;
    margin-top: 100px;
}


.footer-text p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.75);
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.social-icons {
    width: 150px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.social-icons img {
    width: 20px;
    margin: 10px 10px 0px 10px;
    transition: all .3s ease-in-out 0s;
}

.social-icons img:hover {
    transform: translateY(-5px);
}

.github {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-top: 15px;
}

.github img {
    height: 20px;
    margin: 0px 10px 0px 0px;
}